<%- include('./partials/head') %>


        <main class="product-detail">
            <a href="/product" class="back-button">Back</a>

            <% if (product) { %>
                <h1 class="product-name">
                    <%= product.name %>
                </h1>

                
                <div class="product-image">
                    <img src="<%= product.image_link %>" alt="<%= product.name %>" class="detail-image" width="200px"
                        height="300" loading="lazy"
                        onerror="this.onerror=null; this.src='https://via.placeholder.com/200x300/CCCCCC/FFFFFF?text=No+Image';">
                </div>


                <ul class="product-info">
                    <li>Brand:
                        <%= product.brand %>
                    </li>
                    <li>Price:
                        <%= product.price %>
                    </li>
                    <li>Description:
                        <%= product.description %>
                    </li>
                    <li>Category:
                        <%= product.category %>
                    </li>

                </ul>
                <% } else { %>
                    <p>No product details available.</p>
                    <% } %>



                        <article class="rating">

                            <h2>Rating</h2>


                            <form method="POST" action="/detail/<%= product.id %>">
                                <div class="stars">
                                    <input type="radio" id="five" name="rate" value="5">
                                    <label for="five"></label>
                                    <input type="radio" id="four" name="rate" value="4">
                                    <label for="four"></label>
                                    <input type="radio" id="three" name="rate" value="3">
                                    <label for="three"></label>
                                    <input type="radio" id="two" name="rate" value="2">
                                    <label for="two"></label>
                                    <input type="radio" id="one" name="rate" value="1">
                                    <label for="one"></label>
                                </div>

                                <label> Typ hier je beoordeling
                                    <textarea required name="beoordeling">
      </textarea>
                                </label>
                                <button type="submit">verstuurd</button>
                            </form>



                        </article>

        </main>


        <%- include('./partials/foot') %>