<%- include('./partials/head') %>

    <main>

        <h1>Makeup Products</h1>




        <div class="carousel-wrapper">
            <article class="carousel">
                <ul class="carousel-list">
                    <% makeup.forEach(product=> { %>
                        <li class="carousel-item">
                            <a href="/detail/<%= product.id %>">
                                <img src="<%= product.image_link %>" alt="<%= product.name %>" width="200px"
                                    height="300" 
                                    onerror="this.onerror=null; this.src='https://via.placeholder.com/200x300/CCCCCC/FFFFFF?text=No+Image';">
                                <div class="product-name">
                                    <%= product.name %>
                                </div>
                                <div class="product-brand">
                                    <%= product.brand %>
                                </div>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </article>
        </div>



    </main>

    <%- include('./partials/foot') %>