<%- include('./partials/head') %>

    <main>

        <h1>Producten</h1>

        <ul class="product-list">
            <% makeup.forEach(product => { %>
                <li class="product-item">
                    <a href="/detail/<%= product.id %>">
                        <img src="<%= product.image_link %>" 
                             alt="<%= product.name %>" 
                             width="300" 
                             height="300" 
                             onerror="this.onerror=null; this.src='https://via.placeholder.com/200x300/CCCCCC/FFFFFF?text=No+Image';" 
                             class="product-image">
                        <div class="product-name"><%= product.name %></div>
                        <div class="product-brand"><%= product.brand %></div>
                    </a>
                </li>
            <% }) %>
        </ul>
        
        

    </main>


    <%- include('./partials/foot') %>